body{
    background-image: url('../img/background-image-blue.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    text-align: center;
    
}   
@font-face {
    font-family: "Monomaniac One";
    src: url("../fonts/MonomaniacOne-Regular.ttf");
  }

body h1{
    color:#FE4554;
    font-weight:600;
    font-family: 'Monomaniac One';
    font-style: normal;
    font-size:64px; ;
    text-align: right;
    margin-right:26% ;
}

body label{
    color:#FE4554;
    font-family: 'K2D';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    font-family: 'Monomaniac One';
    margin-left: -45%;
}


@media screen and (max-width: 768px) {
    body label{
        font-size: 1rem;
    }
}

main{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2%;
    width: 40%;
    height: 350px;
    margin-left: 30%;
    padding-top: 2%;
}   

.input-main{
    border-radius: 5px;
    position: relative;
    width: 55%;
    border-color: #FE4554;
    background-color: black;
    color:white ;
    display: block;
    margin-left: 20%;
    padding: 0.7%;
    margin-bottom: 2%;  
}

.form #button-entrar{
    background-color: #FE4554;
    border-radius:8%;
    width: 20%;
    height: 40px;
    border: 9px;
    font-family: 'Monomaniac One';
    border: solid 2px white;
    font-size: 1.1rem;

}

.form #button-cadastrar{
    background-color: #ffffff;
    border-radius:10%;
    width: 20%;
    height: 40px;
    border: 9px;
    border: solid 3px #FE4554 ;
    font-family: 'Monomaniac One';
    font-size: 1.1rem;


}

.container {
    position: relative;
    width: 800px; 
    height: 600px; 
  }
  
  .container img {
    position: absolute;
    top: 170%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    max-width: 100%; 
    max-height: 100%; 
  }
  
  .container2 {
    position: relative;
    width: 80px; 
    height: 80px; 
  }
  
  .container2 img {
    position: absolute;
    top: 17%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    max-width: 100%; 
    max-height: 100%; 
  }
  