body{
    background-image: url('../img/background-image-blue.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    text-align: center;
    
}   

body h1{
    color:#FE4554;
    font-weight:600;
}

body label{
    color:#FE4554;
    font-family: 'K2D';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    body label{
        font-size: 1rem;
    }
}

main{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2%;
    width: 40%;
    height: 350px;
    margin-left: 30%;
    padding-top: 2%;
}   

.input-main{
    border-radius: 5px;
    position: relative;
    width: 55%;
    border-color: #FE4554;
    background-color: black;
    color:white ;
    display: block;
    margin-left: 20%;
    padding: 0.7%;
    margin-bottom: 2%;  
}

.form #button-entrar{
    background-color: #FE4554;
    border-radius:10%;
    width: 20%;
    height: 40px;
    border: 9px;
    border-color: black;
}

.form #button-cadastrar{
    background-color: #FE4554;
    border-radius:10%;
    width: 20%;
    height: 40px;
    border: 9px;
    border-color: black;
    word-wrap: break-word;

}